.container {
  display: flex;
}

.alpha {
  width: 100px;
  height: 30px;
  background-color: salmon;
  margin: 5px;
}

.beta {
  width: 120px;
  height: 50px;
  background-color: darkseagreen;
  margin: 5px;
}

.gamma {
  background-color: orange;
  width: 135px;
  height: 200px;
  margin: 5px;
}

.delta {
  background-color: antiquewhite;
  width: 46px;
  height: 78px;
  margin: 5px;
}
